{% extends 'base.html' %}

{% block content %}
  <h1>Pets Available for Adoption</h1> 
  <div class="row">
    {% for pet in pets %}
    <div class="col-md-4 mb-4">
      <div class="card">
        {% if pet.photo_url %}
            <img src="{{ pet.photo_url }}" alt="{{ pet.name }} photo" class="card-img-top" style="height: 200px; object-fit: cover;">
        {% endif %}      
        <div class="card-body">
          <h5 class="card-title">{{ pet.name }}</h5>
          <p class="card-text">{{ pet.species }} - {{ pet.age }} years old, {{ pet.notes }}</p>
          {% if pet.available %}
            <p class="card-text">
                <span class="text-success">
                    AVAILABLE
                </span>
            </p>
          {% endif %}
          <a href="{{ url_for('edit_pet', pet_id=pet.id) }}" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}


